@import "tailwindcss";

:root {
  --MainBackground: #f5f5f7;
  --CardBackground: #ffffff;
  --MainText: #111827;
  --TextSecondary: #6b7280;
  --MainButton: #007aff;
  --ButtonHover: #005ecc;
  --Border: #eaeaeb;
  --FormDefault: #d1d1d6;
  --FormFocus: #007aff;
  --Danger: #ff3b30;
  --DangerHover: #d9261a;
  --SidebarActive: #e5f2ff;
  --SidebarHover: #f5f5f7;
  --White: #ffffff;
  --Logo: #fd6a2a;
  --MainOrange: #ff9500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.responsiveFooter {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

/* Form */
.react-datepicker-wrapper {
  width: 100% !important;
}

input:focus + .placeholder {
  top: -3px;
  background-color: #fff;
  color: var(--FormFocus);
}

input:focus {
  outline: none;
  border: 1px solid var(--FormFocus);
}

/* Animasi Progress Bar */
@keyframes indeterminate {
  0% {
    left: -33%;
    width: 33%;
  }
  50% {
    left: 33%;
    width: 33%;
  }
  100% {
    left: 100%;
    width: 33%;
  }
}

.animate-pulse-indeterminate {
  animation: indeterminate 1.2s infinite ease-in-out;
}

/* Shoot Map */
.shot {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
